# External files
node_modules
package.json
package-lock.json

# VScode files
__pycache__
.vscode
temp
ClassSorts*.*.zip
ClassSorts.zip
.gitignore
.venv
.python-version

# Private test files
test.py
tmp/input_file.txt
templates/output.html
.vercel
.env
