* {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}

h1 {
    display: block;
    font-weight: lighter;
    font-size: 2.5em;
}

.smallTitle {
    text-align: center;
    margin: 1em;
    font-size: 2em;
    text-decoration: underline #9c9c9c;
    text-underline-offset: 0.5em;
}

a {
    color: black;
    text-decoration: underline #ccc;
}

h3 {
    font-weight: 100;
}

input[type=submit] {
    background: #ccc;
    margin: 0.1em;
    width: 15vw;
    height: 6.5vh;

    border: 0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    font-size: 1rem;
}

input[type=submit]:hover {
    background: #9c9c9c;
}
input[type=file] {
    display: none;
}

input[type=text] {
    margin: 0.5em;
    margin-top: 0.25em;

    border: 2px solid #9c9c9c;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.file-upload {
    border-radius: 3px;
    background-color: #ccc;

    /* width: 15vw; */

    margin: 0.65em;
    padding: 0.1em;

    display: grid;
    place-items: center;

    cursor: pointer;
}

.file-upload:hover {
    background-color: #9c9c9c;
}

.pagetop {
    margin: 0;
    padding: 10vh;
    text-align: center;
    background-color: lightblue;
}


#fileUp {
    grid-area: fileUp;
}

#weekNum {
    grid-area: weekNum;
}

#rowCycle {
    grid-area: rowCycle;
}

#rowDur {
    grid-area: rowDur;
}

#groupCycle {
    grid-area: groupCycle;
}

#groupDur {
    grid-area: groupDur;
}

#classT {
    grid-area: classT;
}

#teachT {
    grid-area: teachT;
}

#sepChar {
    grid-area: sepChar;
}

#groupOff {
    grid-area: groupOff;
}

#rowOff {
    grid-area: rowOff;
}

#groupOff>p,
#rowOff>p {
    display: inline-block;
    text-align: center;
}

#cookie {
    display: grid;
    align-items: center;
    grid-area: cookie;
}

#groupName {
    grid-area: groupName;
    display: grid;
    justify-content: center;
}

#groupName>p {
    text-align: center;
}

#cookie>p {
    text-align: center;
}

#useCookie {
    display: block;

    width: 20rem;
    height: 2rem;
    /* align-items: center; */
}

div:has(> #useCookie) {
    display: grid;
    justify-content: center;
}

.options {
    display: grid;
    margin: 5vw;
    margin-bottom: 1vw;

    /* align-items: stretch; */
    column-gap: 1em;
    row-gap: 0.5em;

    grid-template-areas:
        "weekNum rowCycle groupCycle"
        "sepChar rowDur groupDur"
        "classT rowOff groupOff"
        "teachT groupName fileUp"
        "cookie subBtn subBtn";
}


.opt {
    display: grid;
    place-items: center;

    /* border:rgb(111, 167, 185) solid 1px; */
    /* padding: 1em; */
}

@media (min-width: 1020px) {
    .options {
        grid-template-areas:
            "weekNum rowCycle rowDur rowOff"
            "sepChar groupCycle groupDur groupOff"
            "classT teachT groupName fileUp"
            "cookie cookie subBtn subBtn";
    }
}

@media (max-width: 420px) {

    .options {
        grid-template-areas:
            "weekNum sepChar"
            "classT teachT"
            "rowDur groupDur"
            "rowCycle groupCycle"
            "rowOff groupOff"
            "fileUp groupName"
            "cookie subBtn";
    }
}